# Environments
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Output & Data (Persistent but local)
backend/output/images/
backend/output/temp/
backend/output/excel/
backend/output/logs/
backend/output/templates/
backend/output/store.json

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db
